<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Procedimientos</title>
</head>
<body>
    <h1>Generar Procedimientos Almacenados</h1>
    <form action="/generar_procedimientos" method="post">
        <button type="submit">Generar Procedimientos</button>
    </form>
    <br>
    <h1>Eliminar Procedimientos Almacenados</h1>
    <form action="/eliminar_procedimientos" method="post">
        <button type="submit">Eliminar Procedimientos</button>
    </form>
</body>
</html>